.login-box{
    width: 500px;
}

@media (max-width: 576px) {
    .login-box{
      margin-top: 0.5rem;
      width: 90%;
    }
  }
  
.account-title{
    font-size: 1.6rem;
    text-align: left;
}

.input-group-append-1{
    width: 30%;
}

.text1{
    width:100%;
    display: block;
    color: white !important;
    background-color: #28a745 !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
    font-family: inherit !important;
}   

.protect{
    -webkit-text-security: disc;
}

.edit-border{
    border: 1px solid #ced4da;
}

.text-symbol{
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.form-helper{
    background-color: white !important;
}
